<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/hibernate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123qweASDzxc</property>

        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property>-->

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <!--<property name="current_session_context_class">thread</property>-->

        <!-- Disable the second-level cache  -->
        <!--<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/>-->
        <mapping class="com.hibernate.entities.User"/>
        <mapping class="com.hibernate.entities.UserWithAddress"/>
        <mapping class="com.hibernate.entities.UserOneToOne"/>
        <mapping class="com.hibernate.entities.VehicleOneToOne"/>
        <mapping class="com.hibernate.entities.UserOneToMany"/>
        <mapping class="com.hibernate.entities.VehicleManyToOne"/>
        <mapping class="com.hibernate.entities.UserManyToMany"/>
        <mapping class="com.hibernate.entities.VehicleManyToMany"/>
    </session-factory>
</hibernate-configuration>